*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}
html, 
body{
    width: 100%;
    min-height: 100%;
}
body{
    background: #000;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}
.page{
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
}
.hero{
    width: 100%;
    height: 100%;
    background-image: url(assets/heroo.jpg);
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}
.hero::after{
    content:"";
    position: absolute;
    inset: 0;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.05), rgba(0, 0, 0, 0.03));
    pointer-events: none;
    z-index: 1;
}
.logo {
    position: absolute;
    z-index: 10;
    left: 50%;
    transform: translateX(-50%);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: clamp(50px, 5vw, 78px);
    font-weight: 400;
    line-height: 0.8;
    letter-spacing: -5px;
    color: #f0f0f0;
    background-color: #050404;
    width: 100%;
    height: 60px;
    text-align: center;
}

.logo::after {
    content: "Café";
}
.nav-item, .contact{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: max-content;
    height: 30px;
    color: #000;
    text-decoration: none;
    font-size: 12px;
    z-index: 20;
    cursor: pointer;
    transition:
        width 0.35s ease,
        height 0.35s ease,
        background 0.3s ease,
        color 0.3s ease,
        border-radius 0.35s ease,
        transform 0.35s ease;
}
.dot{
    width: 10px;
    height: 10px;
    min-width: 6px;
    background: #000000;
    border-radius: 50%;
    margin-right: 7px;
    transition: opacity 0.25s ease,
        transform 0.3s ease,
        margin 0.35s ease;;
}
.text {
    display: block;
    color: #0b0a0a;
    size: 40px;
    transition:
        font-size 0.35s ease,
        color 0.25s ease,
        letter-spacing 0.35s ease;
}
.signup {
    top: 95px;
    left: 88px;
}
.home{
    top: 300px;
    right: 650px;
}
.aboutus{
    top:400px;
    left:50px;
}
.contact{
    top: 345px;
    right: 430px;
}
.nav-item:hover,
.contact:hover {
    width: 105px;
    height: 45px;
    padding: 0 10px;
    justify-content: center;
    background: #000;
    color: #fff;
    border-radius: 14px;
    transform: translate(-10px, -12px);
}
.nav-item:hover .dot,
.contact:hover .dot {
    width: 0;
    min-width: 0;
    margin-right: 0;
    opacity: 0;
    transform: scale(0);
}
.nav-item:hover .text,
.contact:hover .text {
    color: #fff;
    font-size: 20px;
    letter-spacing: -0.5px;
}
.slot {
    position: fixed;
    right: 25px;
    bottom: 25px;
    z-index: 20;
    width: 130px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000;
    color: #fff;
    text-decoration: none;
    font-size: 13px;
    border-radius: 10px;
    transition: .3s ease;
}

.slot:hover {
    transform: scale(1.05);
    border-radius: 14px;
}
@media (max-width: 480px) {

    .hero {
        width: 100vw;
        height: 100vh;
        background-image: url("assets/mobile.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .logo {
        left: 50%;
        transform: translateX(-50%);
        font-size: 48px;
        letter-spacing: -3px;
        text-align: center;
    }

    .signup {
        top: 16%;
        left: 12%;
    }

    .home {
        top: 30%;
        right: 10%;
    }

    .aboutus {
        top: 60%;
        left: 3%;
    }

    .contact {
        top: 90%;
        right: 45%;
    }

    .slot {
        right: 16px;
        bottom: 55px;
    }

    .nav-item:hover,
    .contact:hover {
        width: 105px;
        height: 54px;
        border-radius: 16px;
        transform: translate(-8px, -10px);
    }

    .nav-item:hover .text,
    .contact:hover .text {
        font-size: 19px;
    }
}